body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url('../img/Galaxy01.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: optimizeQuality;
    padding-left: 10px;

}

h1 {
    color: lightgoldenrodyellow;
}

h2 {
    color: LightBlue;
}

p, li {
    padding-left: 10px;
    color: lightgray;
}

img.CloudImage {  
    width: 25%;
    height: auto;
    border-radius: 10px;
    padding-left: 35%;
}

label {
    color: lightgray;
}

blockquote {
    color: lightgray;
    border-left: 3px solid lightgray;
    padding-left: 10px;
}